doctype html
html
  head
    style
      include ../static/style.css
  body
    nav#navbar 
        ul
            div#logo 
              img(src = "/static/img/logo.png.jpg") 
              | BDA
            li #[a(href = "/") Home]
            li #[a(href = "/about") About]
            li #[a(href = "/classinfo") Class Info]
            li #[a(href = "/services")  Services]
            li #[a(href = "/contact") Contact us]
            

    section#introsection 
        div Welcome to the Best Dance Academy.
        div.small Eat Sleep Dance Repeat 

    section#missionsection 
        h1 our missions  
        div.container    
          div.box 
            h2 Dance Perfection
            div.card-box 
              div.card-img 
                img(src = "/static/img/1.png.png")
              div.card-content 
                p  This is the best dance acacdemy in the universe. 
          div.box 
            h2 Dance the Way you  like 
            div.card-box 
              div.card-img 
                img(src = "/static/img/2.png.png")
              div.card-content 
                p  This is the best dance Academy in the universe.
          div.box 
            h2 Expert Teaching 
            div.card-box 
              div.card-img 
                img(src = "/static/img/3.png.png")
              div.card-content 
                p This is the best dance Academy in the universe.
          
    section#sponserssection 
        h1 Our Sponsers 
        div#sponsers 
          img(src="/static/img/s1.png", alt="Image not found", class = "spimage")
          img(src="/static/img/s2.png", alt="Image not found", class = "spimage")
          img(src="/static/img/s3.png", alt="Image not found", class = "spimage")
          img(src="/static/img/s4.png", alt="Image not found", class = "spimage")


    footer#footer 
        | Copyright©2021 BestDanceAcademy.com | All rights reserved     
          
    script
      include ../static/index.js 